.menu-btn {
    @extend %icon-btn-bg;

    @include breakpoint("desktop") {
        display: none;
    }

    img {
        width: 24px;
        height: 24px;

        @media only screen and (max-width: 992px) {
            width: 21px;
            height: 21px;
        }

        @media only screen and (max-width: 576px) {
            width: 17px;
            height: 17px;
        }
    }

}

.search-btn {
    @extend %icon-btn-bg;
    padding: 10px;
    cursor: pointer;

    img {
        opacity: 0.5;
        transition: $transition-short;
        width: 28px;
        height: 28px;

        @media only screen and (max-width: 992px) {
            width: 25px;
            height: 25px;
        }

        @media only screen and (max-width: 576px) {
            width: 21px;
            height: 21px;
        }
    }

    &:is(:hover, :focus-visible) img {
        opacity: 1;
    }
}

.icon-btn {
    @extend %icon-btn-bg;

    img {
        opacity: 0.5;
        transition: $transition-short;
        width: 24px;
        height: 24px;

        @media only screen and (max-width: 992px) {
            width: 21px;
            height: 21px;
        }

        @media only screen and (max-width: 576px) {
            width: 17px;
            height: 17px;
        }
    }

    &:is(:hover, :focus-visible) img {
        opacity: 1;
    }
}

.btn {
    color: $white;
    font-size: $fs-button;
    font-weight: $weight-bold;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 12px;
    padding-block: 12px;
    padding-inline: 20px 24px;
    border-radius: $radius-8;
    transition: $transition-short;
}

.card-btn {
    inset: 0;
}

.load-more {
    background-color: $azure;
    margin-inline: auto;
    margin-block: 36px 60px;

    &:is(:hover, :focus-visible) {
        $primary-variant: hsla(350, 67%, 39%, 1);
    }

    &.loading::before {
        display: block;
    }

    &::before {
        @extend %before
    }
}