.movie-card {
    width: 200px;
    position: relative;

    .card-banner {
        width: 200px;
    }

    .title {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-block: 8px 4px;
    }

    .meta-list {
        justify-content: space-between;
    }

    &:hover .title,
    &:checked .title {
        color: $light-azure;
    }

    .img-cover,
    .title {
        transition: all 0.3s ease;
    }

    .icons {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        flex-direction: row;
        gap: 5px;
        opacity: 0;
        z-index: 4;

        span {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background-color: hsla(250, 13%, 11%, 0.5);
            cursor: pointer;
            box-shadow:
                0 1px 1px hsl(0deg 0% 0% / 0.075),
                0 2px 2px hsl(0deg 0% 0% / 0.075),
                0 4px 4px hsl(0deg 0% 0% / 0.075),
                0 8px 8px hsl(0deg 0% 0% / 0.075),
                0 16px 16px hsl(0deg 0% 0% / 0.075);

            span {
                background-position: center;
                background-repeat: no-repeat;
                background-size: 20px;
                filter: drop-shadow();
            }
        }

    }

    &:hover .icons,
    &:checked .icons {
        transition: $transition-short;
        opacity: 1;
    }
}

.poster-box {
    background-image: url("../images/poster-bg-icon.png");
    aspect-ratio: 2 / 3;
    @extend %background-image-design;
}

.video-card {
    background-image: url("../Images/video-bg-icon.png");
    aspect-ratio: 16 / 9;
    flex-shrink: 0;
    max-width: 500px;
    width: calc(100% - 40px);
    @extend %background-image-design;
}


.movie-card .icons .icon span.watchlist:not(.added) {
    background-image: url("/src/Images/watch-later-stroke.png");
}

.movie-card .icons .icon span.favorites:not(.added) {
    background-image: url("/src/Images/love-stroke.png");
}

.movie-card .icons .icon span.watchlist.added {
    background-image: url("/src/Images/watch-later-fill.png");
}

.movie-card .icons .icon span.favorites.added {
    background-image: url("/src/Images/love-fill.png");
}