.search-modal {
    position: fixed;
    top: 96px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $surface;
    padding: 50px 24px;
    overflow-y: overlay;
    z-index: 4;
    display: none;

    @include breakpoint("desktop") {
        top: 104px;
        padding: 60px;
    }

    .active {
        display: block;
    }

    .label {
        color: $primary-variant;
        font-weight: $weight-bold;
        margin-block-end: 8px;
    }

    &::after {
        content: "";
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 150px;
        background-image: linear-gradient($bottom-overlay);
        z-index: 1;
        pointer-events: none;
    }
}