.movie-list {
    padding-block-start: 32px;

    .title-wrapper {
        margin-block-end: 24px;
    }

    .slider-list {
        margin-inline: -20px;
        overflow-x: overlay;
        padding-block-end: 16px;
        margin-block-end: -16px;

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }

        &:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
            background-color: $banner-background;
        }

        &::-webkit-scrollbar-button {
            width: 20px;
        }

        .slider-inner {
            position: relative;
            display: flex;
            gap: 16px;

            &::before,
            &::after {
                content: "";
                min-width: 4px;
            }
        }
    }



}

.genre-list .title-wrapper {
    margin-block-end: 56px;
}

.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 20px;
}

:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {
    width: 100%;
}