%before {
    content: "";
    width: 20px;
    height: 20px;
    border: 3px solid $white;
    border-radius: $radius-24;
    border-inline-end-color: transparent;
    animation: loading 500ms linear infinite;
    display: none;
}

%background-image-design {
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    background-color: $banner-background;
    border-radius: $radius-16;
    overflow: hidden;
}

%title {
    font-weight: $weight-bold;
    letter-spacing: 0.5px;
}

%icon-btn-bg {
    background-color: $banner-background;
    border-radius: $radius-8;
    padding: 12px;
}