.movie-list {
    padding-block-start: 32px;

    .title-wrapper {
        margin-block-end: 24px;
    }
}


.grid-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 16px;
    row-gap: 20px;

    .title-wrapper {
        margin-block-end: 56px;

    }
}

:is(.genre-list, .search-modal) :is(.movie-card, .card-banner) {
    width: 100%;
}