.sidebar {
    position: absolute;
    background-color: $background;
    top: 103px;
    bottom: 0;
    left: -340px;
    max-width: 340px;
    width: 100%;
    border-block-start: 1px solid $banner-background;
    overflow-y: overlay;
    z-index: 4;
    visibility: hidden;
    transition: $transition-long;

    @include breakpoint("desktop") {
        position: static;
        visibility: visible;
        border-block-start: 0;
        height: calc(100vh - 104px);
    }
    
    @media screen and (max-width: 576px) {
        width: 60%;
        top: 94px;
    }

    &.active {
        transform: translateX(340px);
        visibility: visible;

        @include breakpoint("desktop") {
            transform: none;
        }
    }

    &-inner {
        display: grid;
        gap: 20px;
        padding-block: 36px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
        background-color: $banner-background;
    }

    &::-webkit-scrollbar-button {
        height: 16px;
    }

    &-list,
    &-footer {
        padding-inline: 36px;

        @include breakpoint("desktop") {
            padding-inline: 56px;
        }
    }

    &-link {
        color: $on-surface-variant;
        transition: $transition-short;

        &:is(:hover, :focus-visible) {
            color: $on-background;
        }
    }


    &-list {
        display: grid;
        gap: 8px;

        .title {
            margin-block-end: 8px;
        }
    }

    &-footer {
        border-block-start: 1px solid $banner-background;
        padding-block-start: 28px;
        margin-block-start: 16px;
    }
}